@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 76.5%; 
  margin-left: 13%;
  position: relative;
}

* ,
*::before ,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* common styling  */

.header ,
.banner ,
.men-section ,
.women-section ,
.kid-section ,
.explore ,
.social-media ,
.newsletter {
  border-bottom: 3px dotted #f3f3f3;
}

.men-section .wrapper ,
.women-section .wrapper ,
.kid-section .wrapper ,
.explore .wrapper ,
.social-media .wrapper {
  padding: 81px 0;
  position: relative;
}

.left-arrow ,
.right-arrow {
  height: 0;
}
/*=================================
  Header styling starts here
=================================*/
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  display: none;
}

.header {
  padding: 30px 0 12px;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.logo {
  width: 182px;
}

.nav-list {
  display: flex;
  gap: 33px;
}

.nav-item {
  color: #3F3435;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
}

.nav-item.active ,
.nav-item:hover {
  color: #CACFDB;
}

.drop-icon { position: relative; }

.drop-icon::before {
  content: "\f107";
  float: right;
  padding: 4px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: "FontAwesome";
}

/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/* banner section styling starts here  */
.banner .wrapper {
  width: 100%;
  padding: 57px 0;
  margin-left: 16px;
  display: flex;
}

.left-image {
  width: 662px;
  margin-right: 28px;
}

.category figure {
  width: 316px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.left-banner {
  position: relative;
}

.left-content {
  position: absolute;
  top: 36%;
  left: 11%;
}

.main-heading {
  margin-bottom: 24px;
  color: #fff;
  font-size: 49px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.left-content p {
  font-size: 13px;
  font-style: italic ;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.purchase-btn { 
  border: 1px solid #fff;
  padding: 12px 26px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.category-img {
  position: relative;
}

.right-content {
  position: absolute;
  top: 38%;
  left: 20%;
}

.left-content ,
.right-content {
  color: #fff;
 }

 .right-content .heading {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 13px;
 }

 .right-content p {
  font-size: 17px;
  font-style: italic;
  text-align: center;
 }
/* banner section styling end here  */

/* men, women and kid section styling start here  */
.category-heading {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 3px;
}

.category-para {
  color: #CACFDB;
  font-size: 14.5px;
  font-style: italic;
  margin-bottom: 40px;
}

.left-arrow ,
.right-arrow {
  display: block;
  text-indent: -9999px;
}

.left-arrow::before ,
.right-arrow::before {
  content: "\f104";
  float: left;
  font-size: 19px;
  font-family: "FontAwesome";
  text-indent: 0;
  padding: 11px 18px;
  border: 1px solid #5D5D5D;
  position: absolute;
  top: 48%;
  left: -7%;
}

.right-arrow::before {
  content: "\f105";
  left: 103%;
}

.latest-list { display: none; }

.show { display: block; }

.latest-list figure {
  width: 325px;
  margin-bottom: 32px;
}

.latest {
  display: flex;
  justify-content: space-between;

}

.name-rating {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.name-rating h3 {
  font-size: 22px;
  font-weight: 600;
}

.rate-icon {
  display: inline-block;
  text-indent: -9999px;
}

.rate-icon::before {
  content: "\f005";
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
  font-size: 12px;
}

.price {
  color: #A9A39F;
  font-size: 17px;
  font-weight: 600;
}
/* men, women and kid section styling end here  */

/* explore section styling start here  */
.explore .wrapper {
  display: flex;
  justify-content: space-between;
}

.explore-image {
  width: 238px;
  height: 238px;
}

.explore .category-heading { font-size: 29px; }

.explore-image figure {
  width: 238px;
}

.left-explore {
  padding-right: 65px;
  flex-basis: 98%;
}

.explore-image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.explore-image:first-child ,
.explore-image:last-child {
  background-color: #f8f8f8;
  color: #000;
}

.left-explore .category-heading,
.explore-para {
  margin-bottom: 28px;
}

.explore-para {
  color: #A9A39F;
  font-size: 14px;
  line-height: 20px;
}

.bold-para {
  margin-bottom: 35px;
  padding-left: 42px;
  position: relative;
  color: #000;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  line-height: 22px;
}

.comma::before {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 29px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  font-style: normal;
}

.discover-btn {
  padding: 11px 24px;
  border: 1px solid #000;
  color: #000;
  font-size: 13px;
}

.explore-image { position: relative; }

.explore-content {
  width: 100%;
  position: absolute;
  top: 37%;
  text-align: center;
}

.leather-different {
  margin-bottom: 7px;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.latest-type {
  color: #A9A39F;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
}

/* explore section styling end here  */

/* social media styling start here  */
.insta-image {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.insta-image img {
  width: 171px;
}
/* social media styling start here  */








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  