@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 76.5%; 
  margin-left: 13%;
  position: relative;
}

* ,
*::before ,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* common styling  */

.header ,
.banner ,
.men-section ,
.women-section ,
.kid-section ,
.explore ,
.social-media ,
.newsletter {
  border-bottom: 3px dotted #f3f3f3;
}

.men-section .wrapper ,
.women-section .wrapper ,
.kid-section .wrapper ,
.explore .wrapper ,
.social-media .wrapper,
.newsletter .wrapper {
  padding: 81px 0;
  position: relative;
}

.left-arrow ,
.right-arrow {
  height: 0;
}
/*=================================
  Header styling starts here
=================================*/
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown { display: none; }

.header {
  padding: 30px 0 12px;
  display: flex;
  justify-content: space-between;
}

.hamburger { display: none; }

.bar {
  display: block;
  text-indent: -9999px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  width: 25px;
  transition: all .3s;
}

.logo { width: 182px; }

.nav-list {
  display: flex;
  gap: 33px;
}

.nav-item {
  color: #3F3435;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
}

.nav-item.active { color: #CACFDB; }
.drop-icon { position: relative; }

.drop-icon::before {
  content: "\f107";
  padding: 4px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: "FontAwesome";
  float: right;
}

/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/* banner section styling starts here  */
.banner .wrapper {
  width: 100%;
  padding: 57px 0;
  margin-left: 16px;
  display: flex;
}

.left-image {
  width: 662px;
  margin-right: 28px;
}

.category figure {
  max-width: 316px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.left-banner { position: relative; }

.left-content {
  position: absolute;
  top: 36%;
  left: 11%;
}

.main-heading {
  margin-bottom: 24px;
  color: #fff;
  font-size: 49px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.left-content p {
  margin-bottom: 35px;
  font-size: 13px;
  font-style: italic ;
  font-weight: 800;
  letter-spacing: 1px;
}

.purchase-btn { 
  padding: 12px 26px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.category-img { position: relative; }

.right-content {
  width: 100%;
  position: absolute;
  top: 38%;
}

.left-content ,
.right-content {
  color: #fff;
 }

 .right-content .heading {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 13px;
 }

 .right-content p {
  font-size: 17px;
  font-style: italic;
  text-align: center;
 }
/* banner section styling end here  */

/* men, women and kid section styling start here  */
.category-heading {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 3px;
}

.category-para {
  color: #CACFDB;
  font-size: 14.5px;
  font-style: italic;
  margin-bottom: 40px;
}

.left-arrow ,
.right-arrow {
  display: block;
  text-indent: -9999px;
}

.left-arrow::before ,
.right-arrow::before {
  content: "\f104";
  padding: 11px 18px;
  position: absolute;
  top: 48%;
  left: -7%;
  border: 1px solid #5D5D5D;
  float: left;
  font-size: 19px;
  font-family: "FontAwesome";
  text-indent: 0;
}

.right-arrow::before {
  content: "\f105";
  left: 103%;
}

.latest-list { display: none; }
.show { display: block; }

.latest-list figure {
  max-width: 325px;
  margin-bottom: 32px;
}

.latest {
  display: flex;
  justify-content: space-between;

}

.name-rating {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.name-rating h3 {
  font-size: 22px;
  font-weight: 600;
}

.rate-icon {
  display: inline-block;
  text-indent: -9999px;
}

.rate-icon::before {
  content: "\f005";
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
  font-size: 12px;
}

.price {
  color: #A9A39F;
  font-size: 17px;
  font-weight: 600;
}
/* men, women and kid section styling end here  */

/* explore section styling start here  */
.explore .wrapper {
  display: flex;
  justify-content: space-between;
}

.explore-image {
  width: 238px;
  height: 238px;
}

.explore .category-heading { font-size: 29px; }
.explore-image figure { max-width: 238px; }

.left-explore {
  padding-right: 65px;
  flex-basis: 98%;
}

.explore-image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.explore-image:first-child ,
.explore-image:last-child {
  background-color: #f8f8f8;
  color: #000;
}

.left-explore .category-heading,
.explore-para {
  margin-bottom: 28px;
}

.explore-para {
  color: #A9A39F;
  font-size: 14px;
  line-height: 20px;
}

.support-anc { color: #3BA0F8; }

.bold-para {
  padding-left: 42px;
  margin-bottom: 35px;
  position: relative;
  color: #000;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  line-height: 22px;
}

.comma::before {
  content: "\f10d";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 29px;
  font-family: "FontAwesome";
  font-style: normal;
}

.discover-btn {
  padding: 11px 24px;
  border: 1px solid #000;
  color: #000;
  font-size: 13px;
}

.explore-image { position: relative; }

.explore-content {
  width: 100%;
  position: absolute;
  top: 37%;
  text-align: center;
}

.leather-different {
  margin-bottom: 7px;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.latest-type {
  color: #A9A39F;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
}

/* explore section styling end here  */

/* social media styling start here  */
.insta-image {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.insta-image img { max-width: 171px; }
/* social media styling start here  */

/* newsletter section styling start here  */
.newsletter .wrapper {
  display: flex;
  justify-content: space-between;
}

.subscribe {
  display: flex;
  justify-content: space-between;
}

.left-newsletter { flex-basis: 61%; }
.right-newsletter { flex-basis: 31.5%; }

.contact-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.contact-detail li { flex-basis: 44%; }

.contact-heading {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
}

.detail,
.contact-detail li a {
  color: #A9A39F;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: .5px;
}

.form-input input {
  padding: 6.2% 45% 6.2% 8%;
}

.subscribe-btn { text-indent: -9999px; }

.subscribe-btn::before {
  content: "\f1d8";
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 0;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  font-family: "FontAwesome";
  float: left;
}

.newsletter .category-heading { letter-spacing: -.5px; }

.form-input input::placeholder {
  font-style: italic;
  letter-spacing: .5px;
}
/* newsletter section styling end here  */

/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/ 
.footer {
  margin-left: 8px;
  background-color: #2b2b2b;
}

.footer .wrapper {
  padding: 55px 0 0 0;
  display: flex;
  flex-direction: column;
}

.footer-upper {
  padding-bottom: 40px;
  border-bottom: 1px solid #565656;
  display: flex;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-basis: 25%;
}

.footer-upper .footer-logo address ,
.footer-upper .footer-logo a {
  line-height: 21px;
}

.footer-logo ,
.shopping ,
.links ,
.help {
  flex-basis: 25%;
  color: #fff;
}

.footer-list img {
  width: 182px;
}

.footer-heading {
  margin-bottom: 23px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-logo { padding-right: 25px; }
.links { padding-left: 8px; }
.help { padding-left: 20px; }

.footer-font {
  color: #fff;
  font-size: 13px;
}

.footer-lower {
  padding: 34px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.footer-lower p {
  padding-bottom: 10px;
}

.footer-lower a { color: #fff; }

.social {
  display: flex;
  justify-content: center;
  gap: 23px;
}

.social-icon {
  text-indent: -9999px;
}

.social-icon::before {
  content: "\f09a";
  color: #fff;
  font-size: 20px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.twitter::before { content: "\f099"; }
.linkedin::before { content: "\f0e1"; }
.behance::before { content: "\f1b4"; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for hover effects on desktop starts*/
@media only screen and (min-width: 995px) {
  .nav-item:hover {
    color: #CACFDB;
    transition: all .4s;
  }

  .purchase-btn:hover {
    background-color: #cacfdb;
    color: #454545;
    transition: all .4s;
  }

  .category-img:hover .right-content {
    transform: scale(1.05);
    transition: all .4s;
}

.left-arrow:hover::before ,
.right-arrow:hover::before {
  transform: scale(1.1);
  transition: all .4s;
}

.latest-list img:hover {
  transform: scale(1.02);
  transition: all .1s;
}

.discover-btn:hover {
  background-color: #454545;
  color: #fff;
  transition: all .4s;
}

.subscribe-btn:hover::before {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  transition: all .4s;
}

.social-icon:hover::before {
  color: #e9e0e0;
  transform: scale(1.15);
}
}  
/*media query for hover effects on desktop ends*/

/* media query for 1024px start  */
@media only screen and (max-width:1024px) {
  .category-img ,
  .left-image ,
  .category figure{
    width: 100%;
  }

  .banner .wrapper {
    align-items: center;
    justify-content: space-between;
  }

  .left-banner { flex-basis: 50%; }
  .right-banner { flex-basis: 48%; }
  .category-img { flex-basis: 46%; }
  .latest { flex-wrap: wrap; }

  .explore .wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .explore-para ,
  .bold-para {
    font-size: 16px;
  }

  .insta-image { gap: 30px; }

  .newsletter .wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .category-para {
    margin-bottom: 45px;
  }

  .footer-upper {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }

  .footer-logo ,
  .shopping ,
  .links,
  .help {
    flex-basis: 46%;
  }

}
/* media query for 1024px start  */

/* media query for 768px start  */
@media only screen and (max-width: 767px) {
  .hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 5;
    top: 8px;
    right: 0;
  }

  .hamburger:hover + .nav {
    right: 0;
  }

  .nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 4;
    top: 0;
    right: -100%;
    background: #A9A39F;
    transition: all .3s;
  }

  .nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .category-img ,
  .left-image ,
  .category figure{
    width: 100%;
  }

  .banner .wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .latest-list { flex-basis: 45%; }
  .left-arrow::before { left: -12%; }
  .latest-list:nth-child(3) { display: none; }
  .form-input { width: 100%; }

  .form-input input {
    width: 100%;
    padding: 20px 45% 20px 8%;
  }

  .subscribe {
    flex-direction: column;
    align-items: baseline;
    gap: 40px;
  }

  .footer-logo, .shopping, .links, .help { flex-basis: 45%; }

  .links ,
  .help {
    padding: 0;
  }

  .explore-image {
    flex-basis: 42%;
    height: auto;
  }
}
/* media query for 768px end  */

/* media query for 480px start  */
@media only screen and (max-width:480px) {
  .banner .wrapper { margin-left: 5px; }

  .main-heading { font-size: 38px; }
  .name-rating h3 { font-size: 12px; }
  .rate-icon::before { font-size: 7px; }

  .left-arrow::before ,
  .right-arrow::before {
    padding: 7px 13px;
  }

  .latest-list:nth-child(2) { display: none; }

  .explore-para ,
  .bold-para {
    font-size: 14px;
  }

  .insta-image li { flex-basis: 40%; }
}
/* media query for 480px end  */

/* media query for 320px start  */
@media only screen and (max-width:480px) {
  .main-heading { font-size: 25px; }
  .category-img { flex-basis: 46%; }

  .left-banner .main-heading { font-size: 25px; }

  .right-banner .heading ,
  .right-banner p {
    font-size: 13px;
  }

  .left-arrow::before, .right-arrow::before { padding: 1px 7px; }
  
  .latest-list {
    flex-basis: 75%;
    margin: 0 auto;
  }

  .explore .category-heading { font-size: 27px; }
  .left-explore { padding: 0; }
  .leather-different { font-size: 12px; }
  .latest-type { font-size: 10px; }
  .newsletter .category-heading { font-size: 25px; }
  .contact-detail li { flex-basis: 100%; }
  .footer-upper { gap: 40px; }
}
/* media query for 320px end  */